@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    font-family: 'Mukta', sans-serif;
}
.container 
{
    width: 1170px;
    margin: auto;
}
.w-100
{
    width: 100%;
}
.p-5 
{
    padding: 15px 0;
}
.l 
{
    float: left;
}
.r 
{
    float: right;
}
.clear 
{
    clear: both;
}
.logo img 
{
    width: 330px;
}
nav 
{
    background: #32549A;
    line-height: 50px;
    margin-top: 16px;
}
nav ul 
{
    list-style: none;
}
nav ul li
{
   float: left;
}
nav ul li a 
{
    color: #fff;
    padding: 15px;
    text-decoration: none;
     
}
.banner-content
{
    text-align: center;
    padding: 40px 0;
}
.banner-content h1 
{
    font-size: 50px;
    color: red;
    padding: 20px 0;
}
.borderb
{
    border-bottom: 2px solid #000;
}
.block1-a
{
    width: 70%;
    height: 650px;
    background: #ccc;
    float: left;
}
.block1-b 
{
    width: 25%;
    height: 650px;
    float: right;
}
.dark
{
    background: rgb(88, 87, 87);
    padding: 30px 0;
    color: #fff;
}
.dark h2 
{
    background: #ccc;
    padding: 4px;
    border-left: 3px solid red;
    color: blue;
}
.sbox
{
    width: 31%;
    float: left;
    margin: 20px 10px;
}
.m-0
{
    margin-left: 0;
    margin-right: 0;
}
footer
{
    background: #32549A;
    padding: 30px 0;
    color: #fff;
}
.fbox
{
    width: 33%;
    float: left;
}
.copyright
{
    background: blue;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}